######################################################################
# Build Tools
node_modules

.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar

target/
!.mvn/wrapper/maven-wrapper.jar

######################################################################
# IDE
*.iml
*.ipr
*.iws
*.launch
*.md5
*.orig
*.swp
*.tmp
*.zip

# Cover
.coverage

# Logs
*.log

# Backup
*.bak
*.old
*.orig

# Dependency
.classpath
.project
.settings

# Global
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### JRebel ###
rebel.xml

### NetBeans ###
nbproject/private/
build/*
nbbuild/
dist/
nbdist/
.nb-gradle/

######################################################################
# Others
*.log
*.xml.versionsBackup
*.swp

!*/build/*.java
!*/build/*.html
!*/build/*.xml
